.input {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input__label {
    font-size: 1.3rem;
}

.input__input {
    padding: 4px;
    border-radius: 4px;
    outline: none;
    border: none;
    border: 2px solid var(--black);

    font-size: 1rem;
    color: var(--black);
}

.input__input:focus {
    border: 2px solid var(--primary);
}

.input__input::placeholder {
    color: var(--grey-dark);
}
