.button {
    min-width: 128px;
    padding: 8px 0;
    font-size: 1rem;
    color: var(--black-pure);
    border: 2px solid var(--black-pure);
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: transform 250ms ease;
}

.button:hover,
.button:focus {
    border-color: var(--primary);
}

.button:hover {
    transform: scale(1.1);
}
