.cv-container {
    flex: 2;
    padding: 32px;
}

.cv {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.cv__left {
    background-color: var(--secondary);
}

.cv__right {
    flex: 1;
}
