* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black-pure: hsl(0, 0%, 0%);
    --black: hsl(0, 0%, 20%);
    --black-glass: hsla(0, 0%, 0%, 0.5);

    --grey-dark: hsl(0, 0%, 30%);
    --grey-dark-glass: hsla(0, 0%, 30%, 0.5);
    --grey: hsl(0, 0%, 50%);
    --grey-glass: hsla(0, 0%, 50%, 0.8);
    --grey-light: hsl(0, 0%, 70%);

    --white: hsl(0, 0%, 100%);
    --white-glass: hsla(0, 0%, 100%, 0.8);

    --blue-dark: hsl(240, 100%, 5%);

    --primary-dark: hsl(210, 50%, 35%);
    --primary: hsl(200, 50%, 50%);
    --primary-highlight: hsl(190, 50%, 65%);

    --secondary: hsl(125, 50%, 50%);
}

body {
    color: var(--black-pure);
    background-color: var(--white);
}
